@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(31 31 31);
}

::selection, ::-moz-selection {
  color: #FFF;
  background-color: rgb(255 130 100 /1);
}
h1 {
  color: transparent;
  background-image: linear-gradient(45deg, rgb(255 130 100 /1) 0%, rgb(100 0 200 /1) 100%);
  background-clip: text;
  
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-image: linear-gradient(45deg, rgb(255 130 100 /1) 0%, rgb(100 0 200 /1) 100%);
  border-image-slice: 1;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  color: rgb(255 130 100 /1);
  cursor: pointer;
}

button::before, button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, rgb(255 130 100 /1) 0%, rgb(100 0 200 /1) 100%);
  background-clip: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
  overflow: hidden;
}

button:hover::before, button:hover::after {
  opacity: 1;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}